.item {
    background: #FFF;
    border: 1px solid #E8E8E8;
    margin-bottom: 1.3rem;
    padding: 1.3rem;
}

.item--position-1 {
    background: lightgreen;
}

.item--position-2 {
    background: lightskyblue;
}

.item--position-3 {
    background: lightcoral;
}

.item__message {
    font-size: 1.3rem;
    font-style: italic;
    font-weight: 300;
    text-align: center;
}